html {
  font-family: 'Montserrat', sans-serif;
}

body {
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  min-height: 200vh;
  background-color: #efefef;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

#topbar {
  padding: 10px;
  text-align: right;
  background-color: chocolate;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  color: gray;
  font-weight: 300;
  padding: 0.5em 1.5em;
}

.main-container {
  margin: 0;
  display: grid;
  grid-template-columns: 25% 75%;
  gap: 20px;
  height: 150vh;
}

.menu {
  position: sticky;
  top: 0;
  margin: 0 1em auto 0;
  width: column;
  display: flex;
  flex-direction: column;
  align-items: left;
  background-color: #fff;
  color: gray;
  padding: 0 2em 0 0;
}

.main-container .wrapper {
  width: column;
  margin: 0 1em auto 0;
  display: flex;
  flex-direction: row;
  position: relative;
}

li a {
  transition: font-weight 0.3s ease;
  color: grey;
  text-decoration: none;
  font-size: 24px; 
}

li a:hover {
  color: chocolate;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

li a:visited {
  color: black;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
}

ul {
  list-style-type: none;
}

.contact {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  padding: 20px;
}

.contact .rrss {
  color: brown;
  text-decoration: none;
  font-size: 30px;
  font-weight:bold;
  transition: all 0.3s ease;
}

.contact .rrss:hover {
  transform: scale(0.93);
  color: chocolate;
}

/*Product section*/
#product {
  width: column;
  margin: 0;
  gap: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  padding: 30px 0 30px 20px;
}

/*Product cards*/
.producto {
  transition: box-shadow 0.3s ease;
  background-color: #fff;
  width: 280px;
  margin: 0;
  border-radius: 0.5em;
  padding: 0.25em 0;
}

/*Sections*/
.main-container .wrapper-section {
  width: column;
  margin: 0 1em 0 0;
  padding: 30px 60px;
  text-align: left;
  background-color: #fff;
  position: absolute;
  top: 0;
  opacity: 0;
  transition: all .7s ease;
  pointer-events: none;
}

.main-container .wrapper-section.active {
  opacity: 1;
  pointer-events: auto;
}


#about img {
  width: 250px;
  height: 250px;
  float: right;
}

section article:hover {
  box-shadow: 0 0.1rem 0.4rem rgba(0,0,0,3)
}

section article h2, section article p {
  margin: 1rem;
}

.producto img {
  padding: 0;
  width: 100%;
  height: 55%;
}

.buy {
  margin: 1rem;
  padding: 0.25rem 1rem;
  background: #3ea0e2;
  color: #fff;
  font-weight: medium;
  font-size: 1em;
  border: none;
  border-radius: 0.25rem;
  transition: all 0.3s ease;
}

.buy:hover {
  transform: scale(0.97);
  cursor: pointer;
}

/*Footer*/
footer {
  bottom: -100%;
  align-self: flex-end;
  position: absolute;
  background-color: rgba(255, 174, 0, 0.842);
  color: #fff;
  width: 100%;
  padding: 3em;
}

footer a {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
  font-weight:bold;
  float: right;
}

footer #goUp {
  color: #fff;
  background-color: rgba(255, 174, 0, 0.842);
  border: none;
  font-size: 24px;
  font-weight:bold;
  float: right;
}

footer #goUp:hover {
  cursor: pointer;
  color: #f2f2f2;
}

footer p {
  margin:0;
  color: #fff;
  font-size: 20px;
  text-align: center
}

/*Modal*/
.modal-bg {
  display: none;
  position: fixed;
  z-index: 1;
  padding: 10px 22px 0px 22px;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, .3);
  backdrop-filter: blur(.7rem);
}

.modal-box {
  position: relative;
  display: grid;
  grid-template-columns: 60% 40%;
  margin: 10px;
  column-gap: 10px;
  padding: 20px;
  width: 90%;
  height: 80vh;
  max-width: 1200px;
  background-color: white;
  box-shadow: 0 0 2rem 0 rgba(0, 0, 0, .5);
  
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  padding: 2em;
  gap: 0;
  max-width: 1200px;
  background-color: white;
}

.CTA {
  font-weight: bold;
  text-decoration: none;
}

.modal-rrss {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-content: center;
  padding: 5px;
  margin: 0;
}

.modal-rrss .icon {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border-style: solid;
  border-color:white;
  margin: 0;
}

.modal-rrss a {
  text-decoration: none;
  color:white;
}

.tl-button {
  width: 160px;
  height: 40px;
  background-color:#0088cc;
  color: white;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  padding: 3px;
  border-radius: 50px;
  box-shadow: 0 0 .1rem 0 rgba(0, 0, 0, 3);
}

.ws-button {
  width: 160px;
  height: 40px;
  background-color:#28D146;
  color:white;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  padding: 3px;
  border-radius: 50px;
  box-shadow: 0 0 .1rem 0 rgba(0, 0, 0, 3);
}

.info {
  width: 100%;
  margin: 0;
  padding: 10px;
  background-color: white;
  opacity: 1;
}

.info li {
  list-style-type: disc;
}

/*/.slider {
  width: 100%;
  height: 80vh;
  background-color: lightgrey;
  margin: 0;
}*/

.carrusel {
  width: 100%;
  height: auto;
  background-color: white;
  padding: 0;
  margin: 0;
  overflow: hidden;
  
}

.carrusel .image-container {
  width: 300%;
  background-color: lightskyblue;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  object-fit: cover;
  transition: all .4s ease;
  /*transform: translateX(-33.3333%);*/
}

.carrusel img {
  width: calc(100% / 3);
  min-height: 75vh;
  max-height: 70vh;
  background-color: greenyellow;
  margin: 0;
}

.carrusel .nav {
  width: 100%;
  max-height: 5vh;
  background-color: white;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.carrusel .dot {
  width: .7em;
  height: .7em;
  background-color: rgba(0, 0, 0, .2);
  margin: .7em;
  border-radius: 50%;
  cursor: pointer;
}

.carrusel .dot.activo {
  background: rgba(255, 174, 0, 0.842);
}

.close {
  color: lightgray;
  position: absolute;
  top: 5px;
  right: 15px;
  font-size: 35px;
  font-weight: bold;
  z-index: 2;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}