

.product-carousel {
    position: relative;
    width: 80vh; /*Change to 100% when finished*/
    height: 600px;
    background-color: #f1f1f1;
    margin: 0 auto;
}

.carousel-image {
    width: 100%;
    height: 100%;
    background-color: orange;
    object-fit: cover;
}

.carousel-image-container {
    position: relative;
    background-color: green;
    height: 100%;
}

.carousel-track { /*ul*/
    padding: 0;
    margin: 0;
    list-style: none;
}

.carousel-slide { /*li*/
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    cursor: pointer;
    font-weight: bold;
}

.carousel-button--left {
    left: -40px;
}

.carousel-button--right {
    right: -40px;
}

.carousel-nav {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.carousel-nav-indicator {
    border: 0;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: rgba(0, 0, 0, .4);
    margin: 0 10px;
}

.carousel-nav-indicator.active {
    background: orange;
}